.card1{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    margin-bottom: 5%;
    transition: 0.3s;
    text-align: center;
    /* width: 10px; */
    /* color: rgb(255, 255, 255); */
    /* background-image: linear-gradient(120deg,#e57373 0%, #e57373     100%); */
    background-color: #d1cece ;
    border-radius: 0px;
    border: 1px solid #061b3d ;
  }
  
  .card1:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    border: 1px solid #5e35b1;
    background-color: #f0e8e8 ;
    /* background-image: linear-gradient(120deg,#F5F5F5 0%, #e91e63      100%); */
    /* color: white; */
  }
  
  .container1 {
    padding: 2px 16px;
  }

  div2 { 
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100%;
  }

  .button2 {
    background-color: #223561; 
    color: rgb(255, 255, 255); /*#008CBA */
    width: "100%";
    padding: 2% 10%;
    border: 2px solid rgb(255, 255, 255);
  }
  
  .button2:hover {
    background-color: rgb(229, 233, 245);
    color: #223561;
    border: 2px solid rgb(117, 64, 185);
  }
  
  